{% extends 'base.html' %}

{% block content %}
<div class="comment-container">
    <form method="post" class="comment-form">
        {% csrf_token %}
        <textarea name="content" class="comment-input" placeholder="Write your comment..."></textarea>
        <div class="comment-actions">
            <button type="submit" class="comment-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm3.5-7a.5.5 0 0 1-.5.5H8.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L8.707 7.5H11a.5.5 0 0 1 .5.5z"/>
                </svg>
            </button>
        </div>
    </form>
</div>
{% endblock %}
